.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);

  display: none;
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  display: block;
}


/* */
.visible { 
  animation: expand 500ms ease-in-out; /*this animation is triggered whenever this class is added to an element*/
  /*if you want to also have the animation occur when removed, can use another class like hidden*/
  transform-origin: top; /*element will start from its top edge*/
}

@keyframes expand { /* expand animation we made */
  0% {
    transform: scaleY(0); /*menu starts combined*/
  }

  70% {
    transform: scaleY(1.1); /*reaches 1.1x the size*/
  }
  
  100% {
    transform: scaleY(1); /*returns back to 1x, causing the "bounce"*/
  }
}

